body {
    margin: 0;
    padding: 0;
}

.header {background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../image/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}
.navbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    display: flex;
} 
.logo {
    width: 50%;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
}
.w3menu-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.search-bar {
    display: flex;
    background-color: white;
    border-radius: 5px;
}
.position-relative {
    position: relative !important;
}
.w3menu-right-content .search-bar .search .search-input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
}
.w3menu-right-content .search-bar .search .search-icon {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}
.text {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}
.text h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    font-family:sans-serif;
}
.text p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.btn-outline-light {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}
.btn-outline-light i {
    font-size: inherit;
}
.btn-outline-light:hover {
    background-color: white;
    color: orangered;
}
h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: orangered;
    font-family:cursive;    
}
h3 {
    font-size: 41px;
    font-weight: 600;
    line-height: 50px;
}
.content-1-right p {
    font-size: 18px;
    line-height: 30px;
    color: #787676;
}
.blog {
    background-color: #ff6600;
}
.images {
    background-image:url(../Image/banner3.jpg);
    background-position: center;
    min-height: 600px;
    background-size: cover;
    position: relative;
    height: 100%;
}
.right {
    padding: 3.75rem;
}
.col-lg-6 h6 {
    color: white !important;
    font-size: 20px !important;
}
.col-lg-6 p {
    color: #ffdfc9;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 18px;
}
.like-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.icon {
    
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.icon i {
    font-size: 28px;
    color:#ff6600;
    line-height: 2.5;
}
.icon i:hover {
    
    color: orange;
}
 a {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
    text-decoration: none;
}
.beat-deal p {
    font-size: 18px;
}
/*what-new */
.what-new {
    background-color: #f3f3f3;
}
.what-new-row {
    display: flex;
    flex-wrap: wrap;
}
.img img {
    position:relative;
    border-radius: 6px;
    margin-top: 35px;
}
.img img:hover {
    opacity: 0.7;
    transition: all 0.3s;
}
.info {
    position: absolute;
    bottom: 0;
}
.info h4 {
    color: white;
}
.info a {
    text-decoration: none;
}
.info h6 {
    color: #ffc600;
}

/*menu*/
.menu {
    background-color:  #f7f7f7;
}
.menu-box {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    position: relative;
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
    background-color: white;
}
.menu-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: gray;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #f4f5fd;
}
.icon span {
    color:#ff6600;
    font-size: 25px;
    line-height: 70px;
}
.info1 {
    height: 50px;
}
.info1 p {
    font-size: 19px;
    line-height: 28px;
    color: #a3a3a3;
    font-family:sans-serif;
}
.info1 h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.menu-box:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.menu-box:hover .icon {
    background-color:#ff6600 !important;
    transition: 0.3s;
    
}
.menu-box .icon i:hover {
    color: white !important;
}
.info1 a:hover {
    color: #ff6600;
    text-decoration: none;
}