*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;

}

/* Home__dinner */
#home__dinner{
    background-image: url("../Image/banner2.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    position: relative;
}
#home__dinner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #100f13a8;
}
.hm__content{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
#home__dinner h2{
    color: white;
    font-size: 2.8125rem;
    line-height: 3.4375rem;
    font-weight: 600;
}
.hm__nut button{
    color: white;
    border: 2px solid;
    font-weight: 700;
    padding: 12px 45px;
    border-radius: 5px;
    transition: all .5s;
}
.hm__nut button span{
    font-weight: 700;
    line-height: 30px;
}
.hm__nut button i{
    display: inline-block;
}
.hm__nut button:first-of-type{
    background: transparent;
    border-color: white;
}
.hm__nut button:first-of-type:hover{
    color: #ff6600;
    background-color: white;
}
.hm__nut button:last-of-type{
    background-color: #ff6600;
    border-color: #ff6600;
}
.hm__nut button:last-of-type:hover{
    opacity: 0.8;
}

/* Number__dinner */
#number__dinner{
    position: relative;
    margin-top: -70px;

}
.number__item{
    padding: 40px 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    transition: all .5s;
}
.number__item:hover{
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.number__item i{
    width: 68px;
    height: 68px;
    line-height: 68px;
    border-radius: 50%;
    background-color: #ff6600;
    color: white;
    font-size: 26px; 
}
.number__item p:first-of-type{
    font-size: 2.6em;
    font-weight: 600;
    margin: 16px 0 0;
}
.number__item p:last-of-type{
    font-size: 1.1em;
    font-weight: 600;
    color: gray;
    margin-bottom: 0;
}
/* Video */
.video__content{ 
    background-image: url("../Image/banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    position: relative;
}
.video__content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #100f1399;
}
.video__nut{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
}
.video__nut:hover i{
    transform: scale(1.2);
    background-color: #ff6600;
    color: white;
}
.video__nut a i{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    font-size: 26px;
    text-align: center;
    line-height: 80px;
    color: #ff6600;
    border: transparent;
    transition: all 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}
/* trong video */
.mfp-auto-cursor .mfp-content{
    max-width: 770px;
}

.mfp-close-btn-in .mfp-close{
    color: white !important;
    position: absolute;
    top: -35px;
    /* right: 0; */
}
/* Blog */
#blog__dinner{
    background-color: #f7f7f7;
    padding: 3rem 0;
}
.blog__title h6{
    font-family: 'Pacifico', cursive;
    color: #ff6600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    margin-bottom: 0;
}
.blog__title h2{
    font-size: 2.375rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 0%;
}
.card__dinner .blog__top img{
    width: 100%;
    border-radius: 5px;
}
.blog__top{
    position: relative;
}
.blog__time{
    position: absolute;
    bottom: 15px;
    left: 10px;
    
}
.blog__time span:first-of-type{
    font-size: 12px;
    padding: 3px 20px;
    font-weight: 700;
    border-radius: 35px;
    letter-spacing: .05em;
    background-color: #ff6600;
    color: white;
    display: inline-block;
}
.blog__time span:last-of-type{
    color: white;
    font-size: 15px;
    letter-spacing: .02em;
    margin-left: 10px;
    vertical-align: bottom;
}
.blog__time span:last-of-type i{
    font-size: 13px;
    margin-right: 5px;
}
.blog__body h4{
    margin: 25px 0 15px;
    font-weight: 600;
    line-height: 34px;
}
.blog__body>p{
    font-size: 18px;
    line-height: 28px;
}
.blog__team .blog__person{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__team .blog__person img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.blog__team .blog__person p{
    margin: 0;
    font-weight: bold;
}
.blog__team{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__icon span{
    font-weight: 900;
}
.blog__icon span i{
    font-weight: 900;
}
/* Carousel */
.carou__content{
    max-width: 700px;
    margin: auto;
}
.carou__title h6{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400px;
    letter-spacing: 1px;
    color: #ff6600;
}
.carou__title h2{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 3rem;
}
.carou__content .carou__item img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
}
.carou__item i{
    font-size: 50px;
    display: block;
    color: #ff6600;
}
.carou__item p:first-of-type{
    font-size: 24px;
    color: black;
    font-weight: 600;
}
.carou__item p:nth-of-type(2){
    font-size: 18px;
    color: #161c2db3;
}
.carou__item h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.carou__item p:last-of-type{
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 18px;
    color: #161c2db3;
}
.owl-theme .owl-dots .owl-dot span{
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ff6600 ;
}
/* -----MEDIA---- */
/* Home__dinner */
@media screen and (max-width:1080px){
    #home__dinner h2{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width:736px){
    #home__dinner h2{
        font-size: 35px;
        line-height: 40px;
    }
}
@media screen and (max-width:480px){
    .hm__nut button{
        padding: 10px 21px;
    }
}
@media screen and (max-width:415px){
    #home__dinner h2{
        font-size: 26px;
        line-height: 34px;
    }
}
/* Number__dinner */
@media screen and (max-width:992px){
    #number__dinner{
        margin-top: 0;
    }
}
@media screen and (max-width:640px){
    .number__item p:first-of-type{
        font-size: 2em;
    }
    .number__item{
        padding: 30px 10px;
    }
}
@media screen and (max-width:480px){
    .number__item p:last-of-type{
        font-size: 0.9em;
    }
}
/* Blog */
@media (max-width:1080px){
    .blog__title h2{
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width:990px){
    .blog__body h4{
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width:600px){
    .blog__title h2{
        font-size: 30px;
        line-height: 38px;
    }
    .blog__title h6{
        font-size: 16px;
    }
    .blog__body>p{
        font-size: 16px;
        line-height: 26px;
    }
}
@media (max-width:480px){
    .blog__title h2{
        font-size: 26px;
        line-height: 36px;
    }
}
@media (max-width:375px){
    .blog__title h2{
        font-size: 24px;
        line-height: 34px;
    }
}
/* Animation */
@keyframes ripple {
    0%{
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100%{
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
